<form data-request="onStoreAddress" data-request-flash
    data-request-update="'profile/address_list':'#address_list'">
    <div class="flexwrap">
        <div class="input-icon widthF">
            <span class="fal fa-road"></span>
            <input type="text" class="form-control" required name="city" placeholder="{{'city'|_}}">
        </div>
        <div class="input-icon widthF">
            <span class="fal fa-home"></span>

            <input type="text" class="form-control" required name="street" placeholder="{{'street'|_}}">
        </div>
        <div class="input-icon widthF">
            <span class="fal fa-mailbox"></span>
            <input type="text" class="form-control" required name="building" placeholder="{{'building'|_}}">
        </div>
        <div class="input-icon widthF">
            <span class="fal fa-mailbox"></span>
            <input type="text" class="form-control" required name="full_name" placeholder="{{'Full name'|_}}">
        </div>
        <div class="input-icon widthF">
            <span class="fal fa-mailbox"></span>
            <input type="text" class="form-control" required name="mobile" placeholder="{{'mobile'|_}}">
        </div>

        <div class="input-icon widthF">
            <span class="fal fa-mailbox"></span>
            <input type="text" class="form-control" required name="zip_code" placeholder="{{'zip_code'|_}}">
        </div>
    </div>

    <button class="lagre link" type="submit">{{'Lagre'|_}} <i class="fal fa-save mr-2"></i></button>
</form>
