<div class="changePassWrap">
    <h1 class="categoryTitle">{{'Bytte passord'|_}}</h1>
    <hr class="divider mb-0">
    <div class="alert alert-warning mt-3" role="alert">
        <i class="fal fa-exclamation-triangle mr-2"></i> {{'Change passord ?'|_}}
    </div>
    <form data-request="onUpdate" data-request-flash>
        <div class="input-icon widthF">
            <span class="fal fa-lock-alt"></span>
            <input type="text" class="form-control" name="old_password" placeholder="{{'Gammelt passord'|_}}">
        </div>
        <div class="input-icon widthF">
            <span class="fal fa-lock-alt"></span>
            <input type="text" class="form-control" name="password" placeholder="{{'Ny passord'|_}}">
        </div>
        <div class="input-icon widthF">
            <span class="fal fa-lock-alt"></span>
            <input type="text" class="form-control" name="password_confirmation" placeholder="{{'Bekreft passord'|_}}">
        </div>
        <button class="lagre link" type="submit">{{'Lagre'|_}} <i class="fal fa-save mr-2"></i></button>
    </form>
</div>
