/* Dark Light Color Navabr */
body.lighed .uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: #060405cc !important;
    transition: 0.3s linear;
  }

  body.darked .uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: #fffafae6 !important;
    transition: 0.3s linear;
  }
  body.darked .uk-navbar-nav > li > a {
    color: #16181b;
    text-transform: uppercase;
    transition: 0.1s ease-in-out;
    transition-property: color, background-color;
    font-family: "Montserrat Alternates", sans-serif;
  }

  body.darked .uk-navbar-toggle {
    color: black;
  }
  body.darked .uk-logo img {
    filter: invert(1);
  }
  body.darked .menuIcons {
    color: black;
  }


  .project-info-box {
    border-bottom: 1px solid #e0dede;
    padding-bottom: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    width: 310px;
}
.project-info-box h4{
    margin-bottom: 4px;
    font-size: 14px;
    margin-top: 0px;
    font-weight: 500;
}
body.darked .project-info-box h4 {
  color: white;
}

.project-info-box.first{
    margin-top: 10px;
}
.desct{
    font-size: 16px;
}
body.darked .desct {

  color: white;
}
.descp{
    font-size: 14px;
}
.project-terms{
    color: #16181b;
    margin-left: 25px;
    font-size: 14px;
}
body.darked .project-terms a {

  color: white;
}

.product-name {
	font-size: 22px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 4px;
}
body.darked .product-name {
color: white;
}

body.darked .product-info .product-images img , body.darked  .product-info .product-images a , body.darked .product-info .product-images li {
  display: block;
  outline: none;
  border: none;
  background-color: transparent;
  object-fit: contain;
  padding: 10px;
}
body.darked .text-dark{
  color: white !important;
}
.product-price-discount {
	font-size: 22px;
    font-weight: 400;
    padding: 10px 0;
    clear: both;
}
body.darked .product-price-discount{
  color: white;
}
.product-price-discount span.line-through {
	text-decoration: line-through;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #a5a5a5;
}
.display-flex {
	display: flex;
}
.align-center {
	align-items: center;
}
.product-info_wrap {
	width: 100%;
    margin-top: 100px;
    padding: 70px 0px;

}
.reviews-counter {
    font-size: 13px;
}
.reviews-counter span {
	vertical-align: -2px;
}
.rate {
    float: left;
    padding: 0 10px 0 0;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float: right;
    width: 15px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 21px;
    color:#ccc;
	margin-bottom: 0;
	line-height: 21px;
}
.rate:not(:checked) > label:before {
    content: '\2605';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.product-dtl{
    padding: 45px 0px;
}
.product-dtl p {
	font-size: 14px;
	line-height: 24px;
	color: #7a7a7a;
}
body.darked .product-dtl p {
  font-size: 14px;
  line-height: 24px;
  color: #d8d5d5;
}
.product-dtl .form-control {
	font-size: 15px;
}
.product-dtl label {
	line-height: 16px;
	font-size: 15px;
}
.form-control:focus {
	outline: none;
	box-shadow: none;
}
.product-count {
	margin-top: 15px;
}
.product-count .qtyminus,
.product-count .qtyplus {
	width: 34px;
    height: 34px;
    background: #212529;
    text-align: center;
    font-size: 19px;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
}
.product-count .qtyminus {
	border-radius: 3px 0 0 3px;
}
.product-count .qtyplus {
	border-radius: 0 3px 3px 0;
}
.product-count .qty {
	width: 60px;
	text-align: center;
}
.round-black-btn {
	border-radius: 4px;
    background: #212529;
    color: #fff;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px #212529;
    transition: all 0.5s ease-in-out 0s;
}
.round-black-btn:hover,
.round-black-btn:focus {
	background: transparent;
	color: #212529;
	text-decoration: none;
}

.product-info-tabs {
	margin-top: 25px;
}
.product-info-tabs .nav-tabs {
	border-bottom: 2px solid #d8d8d8;
}
.product-info-tabs .nav-tabs .nav-item {
	margin-bottom: 0;
}
.product-info-tabs .nav-tabs .nav-link {
	border: none;
	border-bottom: 2px solid transparent;
	color: #323232;
}
.product-info-tabs .nav-tabs .nav-item .nav-link:hover {
	border: none;
}
.product-info-tabs .nav-tabs .nav-item.show .nav-link,
.product-info-tabs .nav-tabs .nav-link.active,
.product-info-tabs .nav-tabs .nav-link.active:hover {
	border: none;
	border-bottom: 2px solid #d8d8d8;
	font-weight: bold;
}
.product-info-tabs .tab-content .tab-pane {
	padding: 30px 20px;
	font-size: 15px;
	line-height: 24px;
	color: #7a7a7a;
}
.review-form .form-group {
	clear: both;
}
.mb-20 {
	margin-bottom: 20px;
}

.review-form .rate {
	float: none;
	display: inline-block;
}
.review-heading {
	font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #000;
}
.review-form .form-control {
	font-size: 14px;
}
.review-form input.form-control {
	height: 40px;
}
.review-form textarea.form-control {
	resize: none;
}
.review-form .round-black-btn {
	text-transform: uppercase;
	cursor: pointer;
}

.project-terms a{
    font-size: 13px;
    color: black;
}



.priceAndAmount{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px 0px 10px;
}
.priceAndAmount .number{
    margin-right: 50px;
}

.minus, .plus{
    width: 33px;
    height: 33px;
    line-height: 15px;
    background: #f2f2f2;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 5px 8px 5px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.plus:hover{
    background: #79aa40;;
    color: white;
}
.minus:hover{
    background: red;
    color: white;
}
.number input{
    height:34px;
width: 55px;
text-align: center;
font-size: 20px;
    border:1px solid #ddd;
    border-radius:4px;
display: inline-block;
vertical-align: middle;
}

.btn-outline-gold {
    color: #cab671;
    border-color: #cab671;
    transition: 0.2s linear;
    display: inline-block;
    width: 130px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.btn-outline-gold:hover{
    background-color: #cab671;
    color: white;
}
.btn-outline-gold:focus{
    outline: none;
    box-shadow: none;
}


/*slick zoom slider */
.main-img-slider .slick-slide img{
    height: 420px;
    min-width: 100%;
}
.main-img-slider .slick-slide video {
  /* min-width: 100%; */
  display: block;
  width: 100%;
  position: absolute;
  height: 420px;
  -o-object-fit: cover;
  object-fit: cover;
  /* top: -218px; */
  left: 0;
}
 .rating-start {
    color: #ff9f00;
    font-size: 12px;
  }
   .rating-start .fa {
    margin-right: 5px;
  }
   .rating-start .fa:last-child {
    margin-right: 0;
  }
.slick-slider .slick-prev, .slick-slider .slick-next {
    z-index: 100;
    font-size: 2.5em;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    color: #B7B7B7;
    position: absolute;
    top: 50%;
    text-align: center;
    color: #000;
    opacity: .6;
    transition: opacity .25s;
    cursor: pointer;
  }
  .slick-slider .slick-prev:hover, .slick-slider .slick-next:hover {
    opacity: .65;
  }
  .slick-slider .slick-prev {
    left: 0;
  }
  .slick-slider .slick-next {
    right: 0;
  }

  .product-info .product-images {
    width: 100%;
    margin: 0 auto;
    border: 2px solid #d4d3d3;
  }
  .product-info .product-images li, .product-info .product-images figure, .product-info .product-images a, .product-info .product-images img {
    display: block;
    outline: none;
    border: none;
    background-color: white;
    object-fit: contain;
    padding: 10px;
  }
   .main-img-slider figure {
    margin: 0 auto;
    padding: 0 2em;
  }
   .main-img-slider figure a {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
  }
   .main-img-slider figure a img {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
   .thumb-nav {
    margin: 0 auto;
    max-width: 100%;
    padding: 0px 22px
  }
   .thumb-nav.slick-slider .slick-prev,  .thumb-nav.slick-slider .slick-next {
    font-size: 1.2em;
    height: 20px;
    width: 26px;
    margin-top: -10px;
  }
   .thumb-nav.slick-slider .slick-prev {
    margin-left: 0px;
  }
   .thumb-nav.slick-slider .slick-next {
    margin-right: 0px;
  }
   .thumb-nav li {
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }
   .thumb-nav li img {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 100px;
    border: 2px solid transparent;
    -webkit-transition: border-color .25s;
    -ms-transition: border-color .25s;
    -moz-transition: border-color .25s;
    transition: border-color .25s;
  }
   .thumb-nav li:hover,  .thumb-nav li:focus {
    border-color: #999;
  }
   .thumb-nav li.slick-current img {
    border-color:rgba(199, 199, 199, 0.94);
  }



  @media(max-width:767px)
  {
    .project-info-box {
        width: 100%;
    }
    .main-img-slider .slick-slide img {
        height: 220px;
        min-width: 100%;
    }
    .slick-prev, .slick-slider .slick-next{
        display: none;
    }
    .product-info_wrap {
        width: 100%;
        margin-top: 100px;
        padding: 25px 0px;
    }
  }