
{% if categories_home_list %}
{% for category in categories_home_list %}
<div class="container-fluid">
    <h3 class="title_fonts mt-5 ml-2 ">{{category.name}}</h3>
    <div class="uk-slider-container-offset" uk-slider="autoplay: true;autoplay-interval:4000;">

        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
            {% if category.getChildCount %}
            <ul class="uk-slider-items uk-child-width-1-6@l uk-child-width-1-5@m uk-child-width-1-4@s  uk-child-width-1-2 uk-grid">
                {% for sup in category.getChildren %}
                <li>
                    <div class="uk-card">
                        <div class="uk-card-media-top">
                            <a href="{{'products_cat'|page({slug:sup.slug})}}">
                            <img class="w-100 img-responsive lazy"  src="" data-src="{{sup.image.path}}" alt="">
                            <span class="rig-overlay"></span>
                            <span class="name_category">{{sup.name}}</span>
                            <span class="rig-text"><img src="{{web_setting.overlay.path}}"></span>
                            </a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            <a class="uk-position-center-left uk-position-small uk-hidden-hover"
               href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover"
               href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
    </div>
</div>
{% endfor %}
{% endif %}
